
<div id="addNew">
<table>
<tr>
	<td><label>ID</label></td>
	<td><input type="text" id="id_input" /></td>
</tr>

<tr>
	<td><label>Title</label></td>
	<td><input type="text" id="title_input" /></td>
</tr>
<tr>
	<td><label>Author</label></td>
	<td><input type="text" id="author_input" /></td>
	
</tr>

<tr>
	<td><label>Slide</label></td>
	<td><input type="text" id="slide_input" /></td>
</tr>

<tr>

<td><input type="button" id="add_slide" value="Add Slides" /></td>
<td><input type="button" id="add_button" value="Add New Deck" /></td>
</tr>

<tr>
<td><ul id="slideList" style="list-style: none; "></ul></td>

</tr>
</table>
	
	
	
	
	
	
</div>

