
<div id="addNew">
	<label>ID</label>
	<input type="text" id="id_input" />
	<label>Title</label>
	<input type="text" id="title_input" />
	<label>Author</label>
	<input type="text" id="author_input" />
	<input type="button" id="add_button" value="Add New Deck" />
</div>

